<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    WELCOME, <%= username %>
	<span><a href="/" style="float:right">Sign Out </a>
    <% include partials/template/header.ejs %>
    <section class="layout">
      <div class="primary">
        <% include partials/content/whoarewe.ejs %>
         <% include partials/content/getbusy.ejs %>
          <% include partials/content/whoshouldcome.ejs %>
      </div><!-- primary -->
      <aside class="secondary">
         <% include partials/content/nextmeeting.ejs %>
          <% include partials/content/artworklist.ejs %>
      </aside><!-- secondary -->
    </section><!-- layout -->
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
