<!DOCTYPE html>
<html>

<head>
	
  <meta charset="UTF-8">
	<head><% include partials/template/head.ejs %></head>
</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8"><title>Login</title>
  </head>

  <body>

    <div class="container">

      <div id="login" style="margin: 100px auto;">
	  <h2 style="text-align:center"><%= pageName %></h2>
		<div style="margin:25px;margin-left:90px;color: <%= color %> "><%= errorMessage %></div>
        <form action="/registerUser" method="post" style="margin: auto 260px">

          <p><span class="fa fa-user"></span><input type="text" name="username" placeholder="Enter Username" autofocus required></p> 
            <p><span class="fa fa-lock"></span><input type="password" name="password" placeholder="Enter Password" required></p>
            <p><input type="submit" value="Register Me"></p>
        </form>

        <p>Already a member? <a href="/login">Sign In</a><span class="fontawesome-arrow-right"></span></p>

      </div> <!-- end login -->

    </div>

  </body>
</html>

</body>

</html>