<header>


  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/home"><i class="icon-home"></i> Home</a></li>
        <li><a href="/speakers"><i class="icon-user"></i> Speakers</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>