<article id="getbusy">
  <h1>Ok, How about storing data!</h1>
  <p>Any web application is not complete with out a storage system. State-of-art technologies are playing a crucial role especially in the database area. Developers can use either a SQL database schema or a NOSQL database schema. </p>
  <p> For this web application, I have used Firebase. Firebase is used to build real time applications by managing data real time. Sync and Storing of data in firebase is thus done real time.</p>
</article><!-- article -->