<article class="nextmeeting">
  <h1>Next Meeting</h1>
  <p>
  <img src="<%= appdata.meeting.where.img %>" alt="Meeting Location"> Our next meeting will be on
  <%= appdata.meeting.date %>, <%= appdata.meeting.time %> at
  <%= appdata.meeting.where.name %> <%= appdata.meeting.where.address %>
  </p>
  <p>
  	<% include socialmedia.ejs %>
  </p>
</article>