
<article id="whoarewe">
<h1>Motto for this Web App</h1>
 <p> I am planning to develop a web application which enhances user experience in storing information using notes. Note taking apps are the best way to keep users engaging. As a Web App Developer, I can build awesome sites using HTML5, CSS3 (did you see the style in login? - pure css) along with back end/ JS technologies. So, the template here is just a model and not the final one. I will make sure to make this site more awesome with features and with design.</p>
  <h1>Technologies for this Web App</h1>
    <p>This site is built using various latest technologies. Learning and implementing JavaScript technology - nodejs is the motto of this site. Nodejs along with ExpressJS was used. Templating engine's EJS, JADE can help nodejs to make its templates efficient. I have used EJS for this application. <br><br>Adding to more value to this technology stack, I have deployed this app on heroku. See the URL :)</p>
</article><!-- article -->