<article id="whoshouldcome">
  <h1>Who should visit my app?</h1>
  <ul>
    <li>Anybody interested in developing web applications using latest technologies</li>
    <li>Passionate NodeJS developers</li>
    <li>Interested in knowing the underlying system for storing real time data</li>
  </ul>
  <h1>I found bugs in this site</h1> 
  <p> Oh, really? That's great. You will be a great software application tester :) .</p>
  <p>As I wanted to have an exposure on developing applications using nodeJS, I have developed this site. Routing, templating, sending parameters, enabling authentication are some of the features I have incorporated in this assignment. Though you might find bugs, these are not permanent. Once I start building the above discussed app using latest technologies, you will feel it more awesome. As of now just be awestruck with how this website was designed deviating from the orthodox web app development standards/ architecture. </p>
</article><!-- article -->